

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.hero {
  font-family: 'Poppins';
    display: flex;
    height: 700px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; 
  }
  
  .hero-image {
    border-radius: 500px;
    height: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 100%; 
  }
  
  .hero-content {
    
    flex: 1;
    padding: 20px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .hero-content h1 {
    
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .hero-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    align-self: flex-start; 
  }
  
  .hero-button:hover {
    background-color: #0056b3;
  }
  
  
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      height: auto;
    }
  
    .hero-image,
    .hero-content {
      flex: none;
      width: 100;
    }
  
    .hero-image {
      margin-bottom: 20px; 
    }
  }