/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 60px;
    display: flex;
    width: 100%;
    box-shadow: 0px 10px 200px 5px greenyellow; 
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3s ease;
}

ul{
    display: flex;
}

li{
    margin: 20px;
    padding: 20px;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(8, 145, 113);
    transition: 0.5s;
}

.logo{
    float: left;
    height: 40px;
    border-radius: 50px;
    
}

.login{
    height: 30px;
    width: 100px;
    background-color: rgb(116, 255, 2);
    color: black;
    font-size: 15px;
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;

}

.login:hover{

    box-shadow: 0px 0px 10px rgb(116, 255, 2);
    

} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar{
    background-color: transparent;
    position: absolute;
    color: white;
    height: 60px;
    display: flex;
    width: 100%;
    /* box-shadow: 0px 10px 200px 5px greenyellow;  */
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: all 0.3s ease;
    /* padding: 0 20px; */
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    margin: 20px;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins';
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-shadow: 0px 0px 10px white;
    
    transition: 0.5s;
}

.logo{
    height: 40px;
    
    padding: 10px;
}



.login{
    display: flex;
    margin: 10px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0px 0px 100px black;
    /* text-shadow: 0px 0px 50px black; */
}

.login:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px white;
    transition: 0.9s;
}

.location-btn{
    margin: 10px;
    height: 30px;
    width: 200px;
    background-color: deepskyblue;
    color: white;
    font-size: 15px;
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
}